---
export interface Props {}
---

<section class="mt-8">
  <script is:inline type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a9d439f0d592a0013178cb5&product=inline-share-buttons"></script>

  <div class="sharethis-inline-share-buttons my-4"></div>
  <hr class="my-8 border-dashed" />
  
  <h2 class="text-2xl font-semibold tracking-wide mb-4">Comments</h2>
  <div id="disqus_thread"></div>
  <script is:inline>
      window.disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function () { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://mrigank-blog.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</section>
